.home-main {
    width: 100%;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    background-color: #4425a7;
}

.sidebar {
    width: 10%;
    height: 100%;
    background-color: #4425a7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 0 25px 0;
}

.top-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.top-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-icons p {
    color: white;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.bottom-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-icons p {
    color: white;
}

.side-icon {
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    padding: 4px;
}

.side-icon.active {
    color: #20b4dc;
    background-color: #36179b;
    border-radius: 6px;
}

.dashboard {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 30px 0 0 30px;
    padding: 16px;
}

.db-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5%;
    width: 100%;
}

.db-top h3 {
    margin: 0;
    font-size: 22px;
}

.user-icon {
    height: 30px;
    width: 30px;
    color: #36179a;
}


.db-bottom {
    display: flex;
    height: 95%;
    width: 100%;
    padding-top: 8px;
    gap: 10px;
}

.db-bottom-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    gap: 10px;
}

.section-cards {
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-1 {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 15px;
    /* background-color: #36179a; */
    align-items: center;
    justify-content: space-between;
}

.section-box {
    height: 100%;
    width: 100%;
    background-color: #f0ebff;
    border-radius: 12px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    background-color: #f0ebff;
    justify-content: space-between;
    padding: 10px;
    border-radius: 12px;
    color: #37169a;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date-boxes {
    display: flex;
    gap: 15px;
    overflow: hidden;
    overflow-x: hidden;
    height: 100%;
}

.inside-box {
    background-color: #f0ebff;
    padding: 1px 5px 1px 5px;
    border-radius: 6px;
}

.button-container {
    gap: 10px;
}

.button-container button {
    border: none;
    color: #37169a;
}

.arrow-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.section-3 {
    display: flex;
    flex-direction: column;
    height: calc(100% - 35%);
    width: 100%;
    background-color: #f0ebff;
    border-radius: 12px;
    gap: 10px;
    overflow-y: auto;
    color: #37169a;
}

.headline {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
}

.headline h4 {
    cursor: pointer;
}

.table-container {
    flex-grow: 1;
    /* Allow the table container to grow and occupy the available space */
    overflow-y: auto;
    /* Add this property for vertical scrolling */
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table tbody {
    width: 100%;
}

.table td {
    padding: 15px 19px;
}

.table tr:hover {
    width: 100%;
    background-color: #e0d5ff;
    color: #37169a;
    border-radius: 50px;
}

.db-bottom-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    gap: 8px;
}

.box {
    flex-grow: 1;
    /* Allow boxes to take up remaining space */
    background-color: #f0ebff;
    border-radius: 12px;
    padding: 8px;
}

@media (width<=2000px) {
    .section-cards{
        height: 50%;
    }
    .section-1{
        height: 40%;
    }
    .section-2{
        height: 60%;
    }
}